@import url("normalize.css");

/*******************************************************Body*******************************************/

body {
    background-image: radial-gradient(circle, #161616, #241f1f);
    color: rgb(255, 255, 255);
    margin-right: 5%;
    margin-left: 14%;
}


/*******************************************************Header*******************************************/

header {
    display: block;
    justify-content: center;
    background-image: radial-gradient(circle, #2e302d, #000000);
    align-content: center;
    margin: 0.2% 0.5% 1% 0.5%;
    border-radius: 1%;
    text-align: left;
    padding: 2%;
}

header img {
    width: 7%;
    height: 7%;
    margin: 1%;
}

header h1 {
    margin-top: -5.2%;
    width: auto;
    text-align: center;
    justify-content: center;
}

/*********************************************************Lien****************************************************/

a:not(footer a):not(p a){
    color: #9b9696;
    text-decoration: none;
    transition: color 0.2s ease-out, transform 0.2s ease;
}

p a{
    color: rgb(29, 73, 139);
    text-decoration: none;
    transition: color 0.2s ease-out, transform 0.2s ease;
}

a:not(footer a):hover,
a:not(footer a):focus {
    color: #ffffff;
    transform: scale(1.8);
}

/******************************************************Navigation**************************************************/


nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: rgb(39, 38, 37);
    margin-bottom: 2%;
    list-style: none;
    padding: 0;
    border: 3px solid rgb(53, 46, 46);
}

nav li {
    margin-right: 2%;
}


/*****************************************************Pied de page**********************************************/

footer {
    width: 100%;
    height: 100%;

    /*background-image: radial-gradient(circle, #1e201a, #000000);*/
}

footer>img {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

footer>nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

footer>nav img {
    margin-right: 2em;
    height: 2em;
    margin-bottom: 20%;
}

/************************************Section********************************/


section {
    background-image: radial-gradient(circle, #000000, #353535);
    margin-top: 50px;
    border: 3px solid black;
    padding: 50px;
    box-shadow: 0px 3px 15px rgb(170, 163, 163);
    border-radius: 20px;
    margin-bottom: 5%;
    font-family: "Palatino", sans-serif;
}

section>img {
    width: 20%;
    height: auto;
}

section>h2 {
    text-align: center;
    font-size: 240%;
    font-family: Andale Mono;
}

section>ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}


section>ul>li>a {
    font-size: 200%;
}




/*********************************************************Article***************************************************/


article {
    background-image: radial-gradient(circle, #000000, #333333);
    color: #fff;
    padding: 2%;
    font-family: Helvetica;
    font-size: 180%;
    margin-bottom: 4%;
    box-shadow: 0px 8px 15px rgb(44, 43, 43);
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
}

article img {
    height: auto;
    width: 40%;
}

article>h2 {
    text-align: center;
}

p {
    font-size: 120%;
    margin-bottom: 1%;
    font-size: 100%;
}

.image {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
}

.image img {
    width: 45%;
    margin: 1%;
}

article.textcenter {
    text-align: center;
    border: 1px solid white;
}

/*******************************************************************Tableau********************************************************************************/

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 5%;
}

table>caption {
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 250%;
    font-weight: bold;
}

table>thead {
    font-size: 200%;
    font-family: monospace;
}

th {
    border: 1px solid rgb(95, 88, 88);
    font-size: 110%;
    background-color: #201f1f;
    padding: 1%;
}

tbody {
    background-image: radial-gradient(circle, #181818, #363535);
}

td {
    padding: 30px;
    font-size: 150%;
    background-color: #252121;

}


/*************************************************Style****************************************/

.pointListe {
    list-style: disc;
}


h3{
    font-size: 150%;
    font-family: bookman;
}

h4 {
    font-size: 200%;
    font-family: fantasy;
    text-align: center;
}

/*************************************************Vidéo****************************************/

#buttonContainer {
    display: flex; /* Utiliser Flexbox */
    justify-content: center; /* Centrer horizontalement les éléments enfants */
    margin-top: 20px; /* Espacement du haut */
}

#buttonContainer button {
    margin: 0.5%;
    display: block;
    margin-bottom: 2%;
    padding: 1%; 
    color: #fff;
    background-image: radial-gradient(circle, #181818, #363535);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}




